 BETTER_AUTH_SECRET=

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:4173,http://localhost:4174,http://localhost:4175

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NODE_ENV=development
PORT=4000